<!DOCTYPE html>
<html ng-app="uCode">
<head>
    <title>uCode Testing Phase</title>
<link rel="stylesheet" type="text/css" href="assets/test.css">
<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
</head>
<body ng-controller="uCodeTest">
    <div class="jumbotron" ng-controller="TestCtrl">
        <h1>Hello, world! we are in: ${data.name}</h1>
        <p>{{angular.js to be}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
<script src="assets/test.js"></script>
<script src="assets/bootstrap.js"></script>
</body>
</html>
